body {
    height: 100vh;
    font-family:  sans-serif;
    background-color: #e2eba3;
    line-height: 1.8;
}
p {font-family: sans-serif;font-size: 20px;}
h2 {font-family: sans-serif;font-weight: bold;}
ul {
    list-style: none;
    margin: 0;
}
ul a {
    text-decoration: none;
}
img{
    width: 100%;
    height: auto;
}

/* ------------------ header.php ------------------ー */
.threadIcon {
    margin-left: .5rem;
}
.bg-light {
    background-color: #3aacad!important;
}

.navbar-brand {
    color: #fff!important;

}


/* ------------------ top.php ------------------ー */
.main {
    background-image: url(../img/bg-ground.png);
    background-size: cover;
    padding: 10rem 0 5rem 0;
}
.row {
    margin-top: 3rem;
}
#service {
    padding: 3rem 0;
}
.add {
    display: block;
    text-align: center;
}
.fotter{
    background-color: #4699ca;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
}

/* ------------------ add.php ------------------ー */
.btn-primary {
    background-color: #4699ca;
    border-color: #4699ca;
}


/* ------------------ confirm.php ------------------ー */
.historyBack {
    color: #fff!important;
    text-decoration: none!important;
}


/* ------------------ login.php ------------------ー */
.addMember {
    display: block;
    padding-top: 1.5rem;
}


/* ------------------ thread.php ------------------ー */
.threadContent {
    padding-top: 5rem;
}
.threadArea {
    padding-left: 0;
    background-color: #fff;
    padding: 1rem;
    margin-bottom: 1rem;
}
.threadMessages {
    display: flex;
    align-items: center;
}
.threadMessages img {
    width: 5%;
    border-radius: 50px;
    
}

.threadMessages .messageTime {
    font-size: 10px;
    padding-left: 1rem;
}

.threadMessages .memberName {
    font-size: 14px;
}
.threadMessages p {
    margin: 0;
}

.postButton {
    position: relative;
}
.postButton .btn {
    position: absolute;
    right: 0;
    
}
.threadMessages ul {
    margin-left: auto;
}
.delete {
    color: tomato;
    font-size: 12px;
    
}
.delete:visited {
    color: tomato;
}

.update {
    font-size: 12px;
}


/* ------------------ common_validation ------------------ー */
.error {
    color: tomato;
    font-size: 14px;
}



/* ------------------ responsive ------------------ー */

@media (max-width: 767px) {
    .navbar-brand {
        margin: 0!important
    }
    .topTitle{
        font-size: 2rem;
    }
    .main {
      background-position: center;
      padding: 1rem;
    }
    /* ------- thread.php ----------- */
    .threadMessages img {
        width: 10%;
        
    }
}