body {
    height: 100vh;
    font-family:  sans-serif;
    background-color: #dbdef0;
    line-height: 1.8;
}
p {font-family: sans-serif;font-size: 20px;}
h2 {font-family: sans-serif;font-weight: bold;}
img{
    width: 100%;
    height: auto;
}

/* ------------------ header.php ------------------ー */
.threadIcon {
    margin-left: .5rem;
}
.bg-light {
    background-color: #4699ca!important;
}
.navbar-brand {
    color: #fff!important;
}

/* ------------------ top.php ------------------ー */
.main {
    background-image: url(../img/bg-ground.png);
    background-size: cover;
    padding: 10rem 0 5rem 0;
}
.row {
    margin-top: 3rem;
}
#service {
    padding: 3rem 0;
}
.add {
    display: block;
    text-align: center;
}
.fotter{
    background-color: #4699ca;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    margin: 0;
}

/* ------------------ add.php ------------------ー */
.btn-primary {
    background-color: #4699ca;
    border-color: #4699ca;
}
/* ------------------ confirm.php ------------------ー */
.historyBack {
    color: #fff!important;
    text-decoration: none!important;
}
/* ------------------ login.php ------------------ー */
.addMember {
    display: block;
    padding-top: 1.5rem;
}
/* ------------------ common_validation ------------------ー */
.error {
    color: tomato;
    font-size: 14px;
}




@media (max-width: 600px) {
    .topTitle{
        font-size: 2rem;
    }
    .main {
      background-position: center;
      padding: 1rem;
    }
}